<!-- se crea el header de la pagina que se reutilizara en todas las paginas-->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Pagina Web | Mi App</title>
</head>
<body>