<!-- se llama a la plantilla header-->
{{> header }}
    <!-- se llama a la plantilla navbar-->
    {{> navbar }}
    <!-- se llama a la imagen-->
    <div class="imagen">
      <img src="assets/imagenes/dama.jpg">
    </div>
    <div class="texto"><div><h2>La mas cruel de las princesas</h2></div>Me encontre tu zapatilla de cristal, 
y quise ser tu principe encantado, 
algo como un heroe medieval enamorado, 
y termino a duras penas en tu historia, 
siendo el sapo... 

Nunca me aprendi el papel de un Don Juan, 
y en eso de ser un galan yo simplemente no me hallo, 
y me quedo tristemente ilusionado, 
enamorandome de los desfaces del libreto de esta historia, 
donde no soy tu romeo aunque tu eres mi julieta, 
de mi drama mi princesa yo el gran bobo en tu comedia. 

Los detalles de tu vida me he aprendido de memoria, 
mi vida no te interesa y me pregunta mi conciencia, 
que hago metido en tu cuento si mi realidad es otra.
No se como vida mia me hice parte de esta historia 
donde actuo de plebello y me enamoro como un ciego 
de la colosa belleza de la más cruel de las princesas 

En este cuento mal escrito es poco lo que a mi me toca, 
para mi en el argumento hay el sabor de la derrota, 
no se quien lo haya escrito pero mis lineas son cortas, 
salgo pronto de tu vida mi papel aqui estorba, 
que amor para mi no alcanza pero para ti hay de sobra. 

Los detalles de tu vida me he aprendido de memoria, 
mi vida no te interesa y me pregunta mi conciencia, 
que hago metido en tu cuento si mi realidad es otra. 

No se como vida mia me hice parte de esta historia, 
donde actuo de plebello y me enamoro como un ciego, 
de la colosa belleza de la mas cruel de las princesas.

</div>
<!-- se llama a la plantilla footer-->
{{> footer }}